@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************
******** main styles *****************
**************************************/

body {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 1s;
}
header {
  color: #fff;
}

/* Typography */
h1 {
  font-size: 3rem; /* 48px */
}

/* Grid */
.container {
  padding-left: 0.9375rem; /* 15px */
  padding-right: 0.9375rem; /* 15px */;
}

/* Banner */
.banner {
  width: 100%;
  height: 5rem; /* 80px */
  background: #fff;
  padding: 0.9375rem 0; /* 15px 0 15px 0 */
  font-weight: 600;
  text-align: center;
  border-bottom-left-radius: 0.3125rem; /* 5px */
  border-bottom-right-radius: 0.3125rem; /* 5px */
  transition: color 1s;
}

/* Quote Styles */
.quote-box {
  position: relative;
  border-radius: 0.1875rem; /* 3px */
  background-color: #fff;
  margin: 1.875rem auto auto auto; /* 30px */
  padding: 2.5rem 2.5rem; /* 40px 40px */
  max-width: 28.125rem; /* 450px */
  height: 10.9375rem; /* 175px */
}
.quote-text {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
  width: 100%;
  height: 4.6875rem; /* 75px */
  text-align: center;
}
.quote-author {
  font-size: 1.15em;
  font-weight: 600;
  padding-top: 2.5rem; /* 40px */
  width: 100%;
  text-align: right;
  transition: color 1s, visibility 1s;
}
#quote-icon {
  margin-right: 0.4rem;
  transition: color 1s;
}
#text {
  transition: color 1s, visibility 1s;
}
#new-quote {
  position: absolute;
  right: 2.5rem; /* 50px */
}
#Add-quote {
  position: absolute;
  left: 2.5rem; /* 50px */
}

/* input textbox */
.quote-form-section {
  margin: 1.875rem auto; /* 30px */
  max-width: 28.125rem; /* 450px */
}

#quote {
  border-radius: 0.1875rem; /* 3px */
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* 16px */
  width: 93.5%;
  height: 100px;
  padding: 0.9375rem; /* 15px */
  margin-bottom: 0.9375rem; /* 15px */
}
#author {
  border-radius: 0.1875rem; /* 3px */
  border: none;
  font-family: 'Roboto', sans-serif;
  width: 97%;
  height: 0.875rem; /* 30px */
  padding: 0.3125rem; /* 5px */
  font-size: 1rem; /* 16px */
}
#save-quote {
  margin: 0.9375rem auto; /* 15px */
  background: #fff;
}

/* Buttons */
.button {
  height: 2.375rem; /* 38px */
  border: none;
  border-radius: 0.1875rem; /* 3px */
  outline: none;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5rem 1.125rem 0.375rem 1.125rem; /* 8px 18px 6px 18px */
  margin-top: 0.875rem; /* 30px */
  opacity: 1;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 1s;
}
.button:hover {
  opacity: 0.9;
}
