@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main styles */
body {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
header,
footer {
    color: #fff;
}
footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
}
footer a,
footer a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

/* Typography */
h1 {
    font-size: 48px;
}

/* Banner */
.banner {
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 15px 0 15px 0;
    font-weight: 600;
}

/* Quote Styles */
.quote-box {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    margin: 8% auto auto auto;
    padding: 40px 50px;
    width: 450px;
    height: 75px;
    display: table;
}
.quote-text {
    font-size: 1.75em;
    font-weight: 600;
    width: 450px;
    height: 75px;
}
.quote-text i {
    font-size: 1em;
    margin-right: 0.4em;
}
.quote-author {
    font-size: 1.15em;
    padding-top: 20px;
    width: 450px;
}
#new-quote {
    position: absolute;
    right: 50px;
}

/* Buttons */
.buttons {
    width: 450px;
    margin: auto;
    display: block;
}
.button {
    height: 38px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}
.button:hover {
    opacity: 0.9;
}
#twitter,
#facebook {
    float: left;
    margin-right: 5px;
    text-align: center;
    padding: 0;
    padding-top: 8px;
    font-size: 1.2em;
    width: 40px;
    height: 38px;
}
#twitter:hover,
#facebook:hover {
    color: #fff;
}